<!-- Previous Section -->
    <section id="previous">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Previous Shows</h2>
                    <h3 class="section-subheading text-muted">Pictures and news from past shows</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018 - 9th Show</h4>
                                    <h4 class="subheading">A long ride on a Grom and a great haircut</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">£5,352.47 raised for CHSW, see highlights and gallery here</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017 - 8th Show</h4>
                                    <h4 class="subheading">A long ride</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">£4,000 raised for CHSW, see more info and gallery here</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>A moment</h4>
                                    <h4 class="subheading">Memorable moment</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Awards introduced? Something like that</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1st Nailsea International Bike show</h4>
                                    <h4 class="subheading">The story begins</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A group of friends decide to organise a bike show, and the Nailsea International Bike Show is born</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
