<!-- Sponsors Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                    <h3 class="section-subheading text-muted">Thanks to our sponsors for raffle prize donations</h3>
                    <p>BRISTOL CITY FOOTBALL CLUB
                        <br/><a href="https://www.davidchristopher.co.uk/stores/nailsea/" target="_blank">DAVID CHRISTOPHER JEWELERS IN NAILSEA – SAM REAY</a>
                        <br/><a href="https://www.lawneyhill.co.uk/" target="_blank">LAWNEY HILL RACING</a>
                        <br/><a href="https://www.clevedonsawmills.co.uk/" target="_blank">JAMES SHOPLANDS</a>
                        <br/><a href="https://www.portishead.co.uk/" target="_blank">GEOFF BARROW AND PORTISHEAD THE BAND</a>
                        <br/><a href="https://www.waitrose.com/bf_home/bf/515.html" target="_blank">WAITROSE</a>
                        <br/><a href="https://www.abbeyroad.com/" target="_blank">ABBEY ROAD STUDIOS</a> 
                        <br/><a href="https://londonschoolofdiving.co.uk/" target="_blank">LONDON SCHOOL OF DIVING – NICK MOBLEY</a>
                        <br/>NICOLA RICHARDSON
                        <br/><a href="https://www.butterflytravel.co.uk/" target="_blank">BUTTERFLY TRAVEL – FELECITY RALFS</a>
                        <br/><a href="https://www.facebook.com/j20m.uk/" target="_blank">J20 MOTORCYCLES – BACKWELL</a>
                        <br/><a href="https://www.jmsaudiovisual.co.uk/" target="_blank">JMS AUDIO VISUAL INSTALLATIONS – JERRY SIDDERS</a>
                        <br/>KEVIN BUCK
                        <br/>KELLY FIBBO
                        <br/>TONY GROVES
                        <br/>LIAM FOX MP
                        <br/><a href="https://www.thewave.com/" target="_blank">THE WAVE</a>
                        <br/><a href="https://www.reflectionshair.co.uk/salons/nailsea" target="_blank">REFLECTIONS</a>
                        <br/><a href="https://www.facebook.com/paleblueclothing/" target="_blank">PALE BLUE</a>
                        <br/><a href="https://www.fizzgallery.co.uk/" target="_blank">FIZZ GALLERY</a>
                        <br/><a href="https://www.facebook.com/restandrelaxationnailsea/" target="_blank">REST AND RELAXATION</a>
                        <br/>PETRIE FAMILY
                        <br/><a href="https://the-beautyrooms.co.uk/" target="_blank">THE BEAUTY ROOMS – AMANDA SIMPSON</a>
                        <br/>AMY VICKERY
                        <br/><a href="https://www.mrsbeeswax.co.uk/" target="_blank">MRS BEESWAX</a>
                        <br/><a href="https://www.facebook.com/thecardshopportishead/" target="_blank">THE CARD SHOP – BEN </a>
                        <br/><a href="https://www.mpwrestaurants.co.uk/our-brands/steakhouse-bar-and-grill/bristol/menus" target="_blank">MARCO PIERRE WHITE</a>
                        <br/><a href="https://www.sbirdtv.co.uk/" target="_blank">SAMUEL BIRDS</a>
                        <br/><a href="http://www.coateshouse.co.uk/" target="_blank">COATES</a>
                        <br/><a href="https://bennettsbarberco.nearcut.com/" target="_blank">BENNETTS BARBERS</a>
                        <br/><a href="http://www.huntprop.co.uk/" target="_blank">HUNTER LEAHY/FINE AND COUNTRY</a>
                        <br/><a href="http://www.bridgwaterpallets.com/" target="_blank">Bridgewater Pallets ltd</a>
                        <br/><a href="https://www.facebook.com/ClevedonDIYLtd/" target="_blank">Clevedon DIY</a>
                        <br/>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://brisdoc.co.uk/" target="_blank">
                        <img src="img/logos/brisdoc.png" class="img-responsive img-centered" alt="BrisDoc">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://scratchinmad.co.uk/" target="_blank">
                        <img src="img/logos/fixit.jpeg" class="img-responsive img-centered" alt="FixIt Motorcycles">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.fowlers.co.uk/" target="_blank">
                        <img src="img/logos/Fowlers.png" class="img-responsive img-centered" alt="Fowlers">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.unitetheunion.org/" target="_blank">
                        <img src="img/logos/Unite-Union.png" class="img-responsive img-centered" alt="Unite the Union">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.scottishproduce.co.uk/" target="_blank">
                        <img src="img/logos/scottishproduce.jpg" class="img-responsive img-centered" alt="Scottish Produce">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.insit.co.uk/" target="_blank">
                        <img src="img/logos/imp.gif" class="img-responsive img-centered" alt="IMP Packaging">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.nailseacider.co.uk/" target="_blank">
                        <img src="img/logos/NailseaCider.png" class="img-responsive img-centered" alt="Nailsea Cider">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.ridersmotorcycles.com/" target="_blank">
                        <img src="img/logos/riders.png" class="img-responsive img-centered" alt="Riders Motorcycles">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.rolls-royce.com/" target="_blank">
                        <img src="img/logos/RR.png" class="img-responsive img-centered" alt="Rolls Royce">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://southweststeelsupplies.co.uk/" target="_blank">
                        <img src="img/logos/southweststeel.png" class="img-responsive img-centered" alt="South West Steel Supplies">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.tesco.com/" target="_blank">
                        <img src="img/logos/tesco.jpeg" class="img-responsive img-centered" alt="Tesco">
                    </a>
                </div>

            </div>
            <div class="row">

            </div>
        </div>
    </aside>
