<!-- Sponsors Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                    <h3 class="section-subheading text-muted">Thanks to our sponsors for raffle prize donations</h3>
                    <p><a href="https://www.ashtongatestadium.co.uk/" target="_blank">Ashton Gate stadium</a>
                        <br/><a href="https://www.davidchristopher.co.uk/stores/nailsea/" target="_blank">DAVID CHRISTOPHER JEWELERS IN NAILSEA</a>
                        <br/>Mike & Erica Peplow
                        <br/>Carl Godfrey
                        <br/>EMJ Tyres
                        <br/>Dave Mildon
                        <br/>Bella Mildon
                        <br/>Air hop
                        <br/>David Penhale
                        <br/>Jon Axe
                        <br/>Castle Combe race circuit
                        <br/><a href="https://www.waitrose.com/bf_home/bf/515.html" target="_blank">WAITROSE</a>
                        <br/>Cadbury’s garden centre
                        <br/>Gloucester cricket club
                        <br/>Emma Westcott
                        <br/>James Tonkin
                        <br/>David Thatcher
                        <br/>RJ Motorcycles
                        <br/>Graham Crosby
                        <br/>James Shopland
                        <br/>Mendip outdoor centre
                        <br/>Mike Hodgson
                        <br/><a href="https://www.butterflytravel.co.uk/" target="_blank">BUTTERFLY TRAVEL – FELECITY RALFS</a>
                        <br/>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://brisdoc.co.uk/" target="_blank">
                        <img src="img/logos/brisdoc.png" class="img-responsive img-centered" alt="BrisDoc">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.insit.co.uk/" target="_blank">
                        <img src="img/logos/imp.gif" class="img-responsive img-centered" alt="IMP Packaging">
                    </a>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </aside>
