<!-- Sponsors Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                    <h3 class="section-subheading text-muted">Thanks to our sponsors for raffle prize donations</h3>
                    <p>BRISTOL CITY FOOTBALL CLUB
                        <br/>DAVID CHRISTOPHER JEWELERS IN NAILSEA – SAM REAY
                        <br/>LAWNEY HILL RACING
                        <br/>JAMES SHOPLANDS
                        <br/>GEOFF BARROW AND PORTISHEAD THE BAND
                        <br/>WAITROSE
                        <br/>ABBEY ROAD STUDIOS 
                        <br/>LONDON SCHOOL OF DIVING – NICK MOBLEY
                        <br/>NICOLA RICHARDSON
                        <br/>BUTTERFLY TRAVEL – FELECITY RALFS
                        <br/>J20 MOTORCYCLES – BACKWELL
                        <br/>JMS AUDIO VISUAL INSTALLATIONS – JERRY SIDDERS
                        <br/>KEVIN BUCK
                        <br/>KELLY FIBBO
                        <br/>TONY GROVES
                        <br/>LIAM FOX MP
                        <br/>THE WAVE
                        <br/>REFLECTIONS
                        <br/>PALE BLUE
                        <br/>FIZZ GALLERY
                        <br/>REST AND RELAXATION
                        <br/>PETRIE FAMILY
                        <br/>THE BEAUTY ROOMS – AMANDA SIMPSON
                        <br/>AMY VICKERY
                        <br/>MRS BEESWAX
                        <br/>THE CARD SHOP – BEN 
                        <br/>MARCO PIERRE WHITE
                        <br/>SAMUEL BIRDS
                        <br/>COATES
                        <br/>BENNETTS BARBERS
                        <br/>HUNTER LEAHY/FINE AND COUNTRY
                        <br/>Bridgewater Pallets ltd
                        <br/>Clevedon DIY
                        <br/>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://brisdoc.co.uk/" target="_blank">
                        <img src="img/logos/brisdoc.png" class="img-responsive img-centered" alt="BrisDoc">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://scratchinmad.co.uk/" target="_blank">
                        <img src="img/logos/fixit.jpeg" class="img-responsive img-centered" alt="FixIt Motorcycles">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.fowlers.co.uk/" target="_blank">
                        <img src="img/logos/Fowlers.png" class="img-responsive img-centered" alt="Fowlers">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.unitetheunion.org/" target="_blank">
                        <img src="img/logos/Unite-Union.png" class="img-responsive img-centered" alt="Unite the Union">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.scottishproduce.co.uk/" target="_blank">
                        <img src="img/logos/scottishproduce.jpg" class="img-responsive img-centered" alt="Scottish Produce">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.insit.co.uk/" target="_blank">
                        <img src="img/logos/imp.gif" class="img-responsive img-centered" alt="IMP Packaging">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.nailseacider.co.uk/" target="_blank">
                        <img src="img/logos/NailseaCider.png" class="img-responsive img-centered" alt="Nailsea Cider">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.ridersmotorcycles.com/" target="_blank">
                        <img src="img/logos/riders.png" class="img-responsive img-centered" alt="Riders Motorcycles">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.rolls-royce.com/" target="_blank">
                        <img src="img/logos/RR.png" class="img-responsive img-centered" alt="Rolls Royce">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://southweststeelsupplies.co.uk/" target="_blank">
                        <img src="img/logos/southweststeel.png" class="img-responsive img-centered" alt="South West Steel Supplies">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.tesco.com/" target="_blank">
                        <img src="img/logos/tesco.jpeg" class="img-responsive img-centered" alt="Tesco">
                    </a>
                </div>

            </div>
            <div class="row">

            </div>
        </div>
    </aside>
