<!-- The Show Section -->
    <section id="theshow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Show</h2>
                    <h3 class="section-subheading text-muted">Bikes, friends, music, charity</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Location</h4>
                    <p class="text-muted">Located in Nailsea, South West UK, at the Ring O Bells pub. It is a fantastic venue for the show, as well as offering drinks, food and live music - <a href="https://goo.gl/maps/W6MeZ2wZbGC2" target="_blank">Google Maps</a>.</p>
                    <p class="test-muted"><a href="{{ "/blog/2022/05/08/directions/" | prepend: site.baseurl }}">Directions</a></p>
                    <p class="text-muted">PLEASE NOTE - This is a residential area, please do not rev your bikes excessively whilst arriving and leaving the venue.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-motorcycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bikes and Entertainment</h4>
                    <p class="text-muted">A wide and varied selection of bikes on show from 1940s Indians to modern sports bikes and customs</p>
                    <p class="text-muted">We have a <a href="{{ "/blog/2024/01/16/programme-2024/" | prepend: site.baseurl }}">full programme</a> of events on both the Sat and Sun with lots to see and do. There is a full line up of great music, plenty to eat and drink and a variety of stalls and other exhibits. We also have plenty to keep the children happy as this is very much a show open to all the family.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Charity</h4>
                    <p class="text-muted">We raise money for <a href="https://www.chsw.org.uk/" target="_blank">Children's Hospice South West</a>, a great cause, last year we raised over £10,000.</p>
                    <p class="text-muted">They provide hospice care for children with life-limiting conditions and their whole family across the South West.</p>
                    <p class="text-muted">We are holding an auction to raise money for the charity, see <a href="{{ "/blog/2023/09/11/auction-list-2023/" | prepend: site.baseurl }}">here</a> for more information and how to bid remotely.</p>
                </div>
            </div>
        </div>
    </section>
